@import "node_modules/boostrap/scss/bootstrap.scss";

body{
    background-color: rgb(77, 77, 77);
    color: white;
}

.main-section {
    border: 2px solid black;
    display: inline-block;
    padding-top: 453.078px;
    padding-right: 74%;
    margin-left: 1%;
}



.A-left{
    background-color: rgb(148, 148, 230);
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 15%;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.B-left{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 15%;
}

.A-right{
    background-color: rgb(75, 135, 248);
    text-align: right;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 15%;
    padding-right: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.B-right{
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 15%;
    text-align: right;
}

.Left-Container{
    @media(max-width: 991.98px) {
        display: none;   
    }
} 

.Left-Container-Mobile{
    @media (min-width: 991.99px){
    display: none;
}
z-index: 2;
position: absolute;
background-color: rgb(77, 77, 77);
}

.Main-Container{
   padding-top: 10px; 
   padding-bottom: 10px;
}

.Buscador{
    position: sticky; 
    top: 0;
}

.Boton{
    background-color: black;
}

.Contact{
    background-color:rgb(37, 37, 37);
    margin-top: 10px; 
    margin-bottom: 10px;
}

.Contact-Icon{
    max-width: 40px ;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.Contact-ID{
    padding-top: 15px;
    color: white;
}

.Contact-MSGTime{
    padding-top: 15px;
    text-align: right;
    color: white;
}

.Content-Add-Button{
    position: sticky; 
    bottom: 0;
}

